---
layout: default
---

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="hero-unit">
        <h1>Sports Page</h1>
        <p>Tagline</p>       
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      	<ol>
          {% for post in site.categories.sports %}
            <li><a href="{{post.url}}">{{post.title}}</a>
          {% endfor %}
        </ol>
      </div>      
    </div>
    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">      
       <aside class="hidden-phone">  
        <section class="sectionGroup headlines">  
        <header>Headlines</header>
        <ul>
          {% for post in site.categories.headlines %}
          <li>
            <div class="media">
              <a class="pull-left" href="/paper{{post.url}}">
                <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC" style="width: 64px; height: 64px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="/paper{{post.url}}">{{post.title}}</a></h4>
              </div>
            </div>
          </li>

          {% endfor %} 
        </ul>
        </section>   
        <section class="sectionGroup ads">
          <header>ADS</header>
          <div id="myCarousel" class="carousel slide">
             <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <img src="/{{site.url}}img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                
              </div>
              <div class="item active">
                <img src="/{{site.url}}img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                
              </div>
              <div class="item">
                <img src="/{{site.url}}img/bootstrap-mdo-sfmoma-03.jpg" alt="">               
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
        </section>
        <section class="highlights">   
            <header>Highlights</header>
            <ul>
              {% for post in site.categories.highlights %}
                <li>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC" style="width: 32px; height: 32px;">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="/paper{{post.url}}">{{post.title}}</a></h4>
                    </div>
                </div> </li>
              {% endfor %}   
            </ul>
        </section>
        <section class="sectionGroup facebook">
          <!-- <header>Facebook</header> -->
          <div id="fb-root"></div>
          <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </section>
      </aside>
    </div>

    
  </div>
</div>
<div class="container">
  



                  
                  <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=356940667765239&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                  

